/* Estilos gerais */
body {
    font-family: 'Poppins', 'Quicksand', sans-serif;
    background-color: #101820; /* Azul petróleo escuro */
    color: #D3D3D3;
    text-align: center;
}

/* Estilos para o canvas */
canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

/* Estilos para o menu */
button {
    font-family: 'Poppins', 'Quicksand', sans-serif;
    font-size: 1em;
    border-radius: 10px; /* Deixa os botões mais arredondados */
    padding: 10px 20px;
}

/* Estilos para o Game Over */
#gameOver {
    display: none;
    text-align: center;
    margin-top: 50px;
}

#gameOver button {
    color: black;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

/* Estilos para os títulos e textos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'Quicksand', sans-serif;
    font-weight: 700;
}

h1 {
    color: #FFD700; /* Dourado */
    font-size: 2.0em;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.5);
}

h2, h3 {
    color: #FF6347; /* Tomate */
    font-size: 1.5em;
}

h4, p {
    color: #D3D3D3; /* Cinza claro */
    font-size: 1.2em;
}

h5 {
    color: #87CEEB; /* Azul Claro (SkyBlue) */
    font-size: 1.0em;
}

h6 {
    color: #90EE90; /* Verde Claro (LightGreen) */
    font-size: 0.8em;
}

strong, .destaque {
    color: #FFA500; /* Laranja */
    font-weight: bold;
}

